:root {
    --bs-primary: #d3ad69;
    --bs-primary-rgb: 211, 173, 105;
}

.josefin {
    font-family: 'Josefin Sans';
}

.open {
    font-family: 'Open Sans';
}
html{
    overflow-x: hidden;
}

.header-contect {
    .call {
        transition: all 0.5s;

        &:hover {
            color: var(--bs-primary);
        }
    }

    .watch {
        transition: all 0.5s;

        &:hover {
            color: var(--bs-primary);
        }
    }

    .mail {
        transition: all 0.5s;

        &:hover {
            color: var(--bs-primary);
        }
    }
}
.header-icon {
    i {
        transition: all 0.5s;

        &:hover {
            color: var(--bs-primary);
        }
    }
}


.header{
    background-color: #121212;
    .navbar{
        background-color: #121212;
        padding: 10px 100px;
        .navbar-toggler{
            background-color: white;
            h4{
                padding: 0 20px;
                float: left;
            }
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    padding: 10px 30px;
                    font-size: 20px;
                }
            }
        }
    }
}
.banner-overlay{
    .banner {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .carousel-caption {
                        height: 100%;
                        padding: 90px 0;
    
                        button {
                            background-color: var(--bs-primary);
                            color: var(--bs-white);
                            transition: all 0.5s;
    
                            &:hover {
                                background-color: var(--bs-white);
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    
    }
}
    


.post {
    .bg-post {
        background-image: url(../img/hair1_b028b05d-dcf1-46a5-9c45-de9dc2e0fe32.jpg);

        .card {
            .post-btn {
                background-color: black;
                color: var(--bs-white);
                transition: all 0.5s;
            }

            .website-btn {
                background-color: var(--bs-primary);
                color: var(--bs-white);
                border: 0;
                transition: all 0.5s;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 0%;
                    top: 0;
                    left: 0;
                    border-top: 1px solid var(--bs-primary);
                    border-left: 1px solid var(--bs-primary);
                    visibility: hidden;
                    transition: all 0.5s;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 0%;
                    right: 0;
                    bottom: 0;
                    border-right: 1px solid var(--bs-primary);
                    border-bottom: 1px solid var(--bs-primary);
                    visibility: hidden;
                    transition: all 0.5s;
                }

                &:hover {
                    background-color: white;
                    color: black;

                    &::after {
                        visibility: visible;
                        width: 100%;
                        height: 100%;
                    }

                    &::before {
                        visibility: visible;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .offcanvas{
                z-index: 99999;
                .offcanvas-title{
                    text-align: center;
                    font-size: 40px;
    
                }
                .offcanvas-body{
                    background-color: #191919;
                    text-align: start;
                    h5{
                        color: var(--bs-primary);
                        font-size: 18px;
                    }
                    p{
                        color: rgb(118, 117, 117);
                    }
                }
            }

            &:hover {
                .post-btn {
                    background-color: var(--bs-primary);
                }
            }
        }
    }

}

.about {
    .bg-about {
        padding: 80px 50px;

        h5 {
            line-height: 35px;
        }

        p {
            color: rgba(255, 255, 255, 0.529);
        }

        .website-btn {
            background-color: var(--bs-primary);
            color: var(--bs-white);
            border: 0;
            transition: all 0.5s;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                top: 0;
                left: 0;
                border-top: 1px solid var(--bs-primary);
                border-left: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &::before {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                right: 0;
                bottom: 0;
                border-right: 1px solid var(--bs-primary);
                border-bottom: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &:hover {
                background-color: transparent;
                color: white;

                &::after {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;

                &::before {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;
            }
        }
    }

    .bg-content {
        p {
            transition: all 0.5s;

            &:hover {
                color: var(--bs-primary);
            }
        }
    }
}

.bg-featured {
    background-color: #fcf1db;
    padding-bottom: 80px;

    .Products-box {
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;
        border: 10px solid #fcf1db;
        h4 {
            transition: all 0.5s;
        }

        h6 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: #77a464;
            font-size: 12px;
            z-index: 99;
        }

        .product-bg-overlay {
            position: absolute;
            top: 0;
            bottom: 25%;
            width: 100%;
            left: 100%;
            visibility: hidden;
            transition: all 0.3s;
            z-index: 9;
            background-color: rgba(255, 255, 255, 0.767);
        }

        .product-overlay {
            position: absolute;
            visibility: hidden;
            width: 100%;
            top: 0;
            right: 100%;
            bottom: 0;
            transition: all 0.5s;
        }

        .icon-star {
            position: relative;

            .cart {
                transition: all 0.5s;
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background-color: black;
            }
        }

        .product-hover-icon {
            position: absolute;
            right: 5px;
            top: 38%;
            visibility: hidden;
            opacity: 0;
            z-index: 99;
            transition: all 0.5s;

            i {
                background-color: black;
                color: white;
                transition: all 0.5s;

                &:hover {
                    background-color: var(--bs-primary);
                }
            }
        }

        &:hover {
            .cart {
                background-color: var(--bs-primary);
            }

            .product-overlay {
                visibility: visible;
                right: 0;
            }

            .product-bg-overlay {
                left: 0;
                visibility: visible;
            }

            .product-hover-icon {
                visibility: visible;
                opacity: 1;
                top: 35%;
            }

            h4 {
                color: var(--bs-primary);
            }
        }
    }
}

.move-bg {
    background-image: url(../img/img8.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;

    .move-info {
        position: relative;
        width: 580px;
        height: 580px;
        border-radius: 100%;
        padding: 50px;

        .website-btn {
            background-color: var(--bs-primary);
            color: var(--bs-white);
            border: 0;
            margin-top: 20px;
            transition: all 0.5s;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                top: 0;
                left: 0;
                border-top: 1px solid var(--bs-primary);
                border-left: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &::before {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                right: 0;
                bottom: 0;
                border-right: 1px solid var(--bs-primary);
                border-bottom: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &:hover {
                background-color: white;
                color: black;

                &::after {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;

                &::before {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;
            }
        }
    }

    .border-box {
        position: absolute;
        width: 550px;
        height: 550px;
        top: 15px;
        left: 15px;
        background-color: transparent;
        border: 2px dashed black;
        border-radius: 100%;
    }
}

.mission {
    overflow: hidden;
    perspective: 1000px;

    .bg-about {
        padding: 80px 50px;

        h5 {
            line-height: 35px;
        }

        p {
            color: rgba(255, 255, 255, 0.529);
        }

        .website-btn {
            background-color: var(--bs-primary);
            color: var(--bs-white);
            border: 0;
            transition: all 0.5s;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                top: 0;
                left: 0;
                border-top: 1px solid var(--bs-primary);
                border-left: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &::before {
                position: absolute;
                content: "";
                width: 0%;
                height: 0%;
                right: 0;
                bottom: 0;
                border-right: 1px solid var(--bs-primary);
                border-bottom: 1px solid var(--bs-primary);
                visibility: hidden;
                transition: all 0.5s;
            }

            &:hover {
                background-color: transparent;
                color: white;

                &::after {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;

                &::before {
                    visibility: visible;
                    width: 100%;
                    height: 100%
                }

                ;
            }
        }
    }

    .main-box {
        width: 250px;
        height: 200px;
        margin: 50px auto;
        perspective: 1000px;

        .card {
            position: relative;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all 0.5s;

            .front,
            .back {
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .back {
                transform: rotatey(180deg);
                padding: 50px 10px;
                background: linear-gradient(29deg, rgba(0,0,0,0.9764937683284457) 56%, rgba(62,62,62,0.953033357771261) 99%);
                h5{
                    font-size: 13px;
                    padding: 10px 0;
                }
                h6{
                    font-size: 15px;
                }
            }
        }

        &:hover {
            .card {
                transform: rotatey(180deg);
            }
        }
    }
}

.program {
    .our-program {
        .our-image {
            position: relative;
            width: 250px;
            height: 250px;
            margin: 20px;
            border-radius: 100%;
            border: 10px solid black;
            overflow: hidden;
            transition: all 0.5s;
            margin: auto;

            img {
                width: 100%;
                height: 100%;
                transition: all 0.5s;
            }

            .our-hover-content {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                text-align: center;
                line-height: 250px;
                transition: all 0.5s;

                .our-overlay {
                    visibility: hidden;
                    transform: scale(0);
                    transition: all 0.5s;

                    h2 {
                        margin-top: 70px;
                    }

                    p {
                        position: absolute;
                        top: -60px;
                        right: 80px;
                    }
                }

            }

            &:hover {
                border: 10px solid rgb(29, 29, 29);

                img {
                    transform: scale(1.1);
                }

                .our-hover-content {
                    background-color: rgba(0, 0, 0, 0.584);

                    .our-overlay {
                        visibility: visible;
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .website-btn {
        background-color: black;
        color: var(--bs-white);
        border: 0;
        transition: all 0.5s;
        position: relative;
        left: 42%;

        &::after {
            position: absolute;
            content: "";
            width: 0%;
            height: 0%;
            top: 0;
            left: 0;
            border-top: 1px solid black;
            border-left: 1px solid black;
            visibility: hidden;
            transition: all 0.5s;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0%;
            height: 0%;
            right: 0;
            bottom: 0;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            visibility: hidden;
            transition: all 0.5s;
        }

        &:hover {
            background-color: white;
            color: black;

            &::after {
                visibility: visible;
                width: 100%;
                height: 100%
            }

            ;

            &::before {
                visibility: visible;
                width: 100%;
                height: 100%
            }

            ;
        }
    }
}

.team {
    background-image: url(../img/img10-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;

    .team-info {
        position: relative;
        margin: 30px;

        p {
            line-height: 35px;
        }

        .team-img {
            border-radius: 100%;
            width: 180px;
            height: 180px;
            overflow: hidden;
            margin: auto;
        }

        .team-name {
            position: absolute;
            top: 100%;

            span {
                font-size: 12px;
            }
        }
    }
}

.contact {
    overflow: hidden;
    .contact-info {
        background-color: rgb(247, 245, 245);
        padding: 50px 100px;

        h2 {
            padding: 30px 0;
        }

        i {
            padding-right: 15px;
        }

        p {
            padding-bottom: 5px;

            span {
                font-weight: bold;
            }
        }
    }

    h2 {
        padding: 50px 0;
    }

    form {
        position: relative;

        input {
            border: none;
            width: 100%;
            padding: 15px 35px;
            border-bottom: 1px solid rgb(116, 116, 116);
            margin-bottom: 5px;
            outline: none;
            transition: all 0.5s;

            &:hover {
                border-bottom: 1px solid var(--bs-primary);
            }
        }

        i {
            position: absolute;
            left: 10px;
            color: var(--bs-primary);
            padding-top: 15px;
        }

        textarea {
            border: none;
            width: 100%;
            padding: 15px 35px;
            border-bottom: 1px solid rgb(116, 116, 116);
            margin-bottom: 5px;
            outline: none;
            transition: all 0.5s;

            &:hover {
                border-bottom: 1px solid var(--bs-primary);
            }
        }

        button {
            margin: 10px 20px;
            width: 90%;
            padding: 12px 0;
            border: none;
            background-color: var(--bs-primary);
            color: white;
            transition: all 0.5s;

            &:hover {
                background-color: transparent;
                border: 2px solid var(--bs-primary);
                color: black;
            }
        }
    }
}

footer {
    background-image: url(../img/footer-img.jpg);
    background-size: cover;
    background-attachment: fixed;

    .footer-overlay {
        background-color: rgba(0, 0, 0, 0.724);

        .footer-content {
            a {
                img {
                    width: 300px;
                }
            }

            input {
                padding: 10px 30px;
                padding-right: 200px;
                border-color: transparent;
                outline: none;
            }

            button {
                padding: 10px 30px;
                background-color: var(--bs-primary);
                transition: all 0.5s;
                color: white;
                border-color: transparent;

                &:hover {
                    background-color: black;
                    border-color: white;
                }
            }

            .footer-icon {
                i {
                    color: var(--bs-primary);
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        .copy-right {
            border-top: 1px solid rgba(255, 255, 255, 0.593);
            padding: 50px;
        }
    }
}

.backtotop{
    a{
        button{
            width: 40px;
            height: 40px;
            position: absolute;
            bottom: 20px;
            right: 20px;
            position: fixed;
            z-index: 9999;
            background-color: var(--bs-primary);
            transition: all 0.5s;
            &:hover{
                background-color: black;
            }
            i{
                line-height: 40px;
            }
        }
    }
}

.fix{
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}